
html
  padding 0
  min-height 100%
body
  padding 0
  font-family "Helvetica Neue", Helvetica, sans-serif;
  min-height 100vh
  .container-fluid
    min-height 100vh
  .half
    padding 3em
    min-height 100vh
    &.line
      border-right 1px solid #aaa
      textarea
        min-height 4em
        &:focus
          border-bottom-color #ee6e73
          box-shadow 0 1px 0 #ee6e73
      label
        &.active
          color #ee6e73 !important
      input 
        color #fff
    .results
      padding-top 1em
      .result
        padding 1em 0
        display flex
        margin-bottom .5em
        .name
          width 5em
          font-size 1.5em
          text-transform capitalize
        .score
          background-color #f0f0f0
          flex-grow 1
          height 1.4em 
          align-self center
          position relative
          .indicator
            position absolute 
            z-index 2
            &._0
              left 0
              top 1.4em
            &._100
              right 0
              top 1.4em
          .wrapper
            overflow hidden
            position absolute
            top 0
            bottom 0
            height inherit
            left 0
            right 0
            .fill
              background-color #80d8ff
              position absolute
              left -100%
              bottom 0
              top 0
              width 100%